body{
    background-color: orange;
}

div {
    width: 1000px;
    margin: auto;
    background-color: orange;
}

nav > ul > li > a {
    background: #0077b3 none repeat scroll 0 0;
    border: 1px solid #00669a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    z-index: 10001;
}



header {
    margin-top:1%;
    padding-top:50px;
    margin-left: auto;
    margin-right: auto;
}

header>img {
    padding-top:0.5%;
}

canvas {
    /*border: solid black 1px;*/
}

nav {
    margin: auto;
    z-index: 10001;

}

nav ul {
    list-style: none;
    z-index: 10001;
}

nav ul li {
    display: inline-block;
    z-index: 10001;
}

section {
    margin: auto;
}

#canvascontainer {
    position: relative;
    margin: auto;
}

#spielFeld {
    background-color: #202020;
    position: absolute;
}

#pacmanFeld {
    position: absolute;

}

#geisterFeld {
    position: absolute;
}

footer {
    height: 50px;
}

.mbottom {
    margin: auto;
}

.button {
    background: #0077b3 none repeat scroll 0 0;
    border: 1px solid #00669a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.user {
    background-color: gray;
    width: 25%;
    transition: 1s;
}


@media screen and(width: 500px) {
    div > header > img {
        width: 500px;
    }

}

#divArcadeText{
    position: absolute;
    top: 50px;
    width: 200px;
    height: 100px;
    z-index: 1000;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;

}
#divHilfeText{
    position: absolute;
    top: 50px;
    width: 45%;
    height: 100%;
    z-index: 1000;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.pacman img{
    transform: rotate(25deg);
    width: 10%;
    position:relative;
    top:-70px;
    left:-50px;
    z-index: 1001;
}

.geist img{
    width: 15%;
    position:relative;
    top:300px;
    right:-510px;
    transform: rotate(25deg);
    z-index: 1001;
}

#reverse-blinker{
    transform: rotate(-25deg);
    color: red;
    background-color: #ababab;
    text-align: center;
    width: 150px;
    height: 30px;
    position: relative;
    right: -212px;
    top: -50px;
    text-decoration: blink;
    border: 5px solid red;
    border-radius: 5px;
    font-size: 18pt;
    font-weight:bold;
    box-shadow: 5px 5px 30px 30px yellow;
    animation: blicken 1s linear;
    animation-iteration-count: 3;
    z-index: 1001;
}

@keyframes blicken {
    0%{opacity: 1}
    50%{opacity: 0.1  }
    100%{opacity: 1}
}


