
/*-------------------------------------------------------------------*/
/*--------------------------------TAGs-------------------------------*/
/*-------------------------------------------------------------------*/

body {
    background-color: orange;
}

div {
    width: 800px;
    margin: auto;
    background-color: orange;
}

body > div > div {
    position: absolute;
    top: 190px;
}

nav > ul > li {
    background: #0077b3 none repeat scroll 0 0;
    border: 1px solid #00669a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

header>img {
    /*padding-top:0.5%;*/
}

nav {
    margin: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

section {
    margin: auto;
}

form input{
    margin: calc(40% - 0px) calc(33% - 30px) 0 calc(33% - 30px);
    width: 50%;
}

footer {
    height: 30px;
}

/*-------------------------------------------------------------------*/
/*------------------------------KLASSEN------------------------------*/
/*-------------------------------------------------------------------*/

.mbottom {
    margin: auto;
}

.button {
    background: #0077b3 none repeat scroll 0 0;
    border: 1px solid #00669a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;

}

.pacman img {
    transform: rotate(25deg);
    width: 10%;
    position: relative;
    top: -60px;
    left: -50px;
    z-index: 1001;
}

.geist img {
    width: 15%;
    position: relative;
    top: 300px;
    right: -510px;
    transform: rotate(25deg);
    z-index: 1001;
}

.inaktiv {
    display: none;
}

.pause {
    animation: blinken 5s linear;
    animation-iteration-count: infinite;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 75px);
    z-index: 1000;
    width: 150px;
    height: 30px;
    font-size: 18pt;
    font-weight: bold;
    color: red;
    border: 5px solid red;
    border-radius: 5px;
}

.gewonnenverloren{
    animation: blinken 5s linear;
    animation-iteration-count: infinite;
    text-align: center;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 75px);
    z-index: 1000;
    width: 150px;
    height: 30px;
    font-size: 18pt;
    font-weight: bold;
    color: red;
    border: 5px solid red;
    border-radius: 5px;
}

.menuText {
    position: absolute;
    top: 77px;
    width: 100%;
    z-index: 1000;
    background-color: lightgray;
    opacity: .9;
}


/*-------------------------------------------------------------------*/
/*---------------------------------IDs-------------------------------*/
/*-------------------------------------------------------------------*/


#canvascontainer {
    position: relative;
    margin: auto;
}

#spielFeld {
    background-color: #202020;
    position: absolute;
}

#pacmanFeld {
    position: absolute;

}

#geisterFeld {
    position: absolute;
}


#reverse-blinker {
    transform: rotate(-25deg);
    color: red;
    background-color: #ababab;
    text-align: center;
    width: 150px;
    height: 30px;
    position: relative;
    right: -212px;
    top: -50px;
    border: 5px solid red;
    border-radius: 5px;
    font-size: 18pt;
    font-weight: bold;
    box-shadow: 5px 5px 30px 30px yellow;
    animation: blinken 1s linear;
    animation-iteration-count: 3;
    z-index: 1001;
}

#zeitContainer {
    width: 40px;
    position: absolute;
    top: 200px;
    right: 75px;
    transform: rotate(25deg);
    z-index: 1001;
}

#userNameContainer {
    width: 40px;
    position: absolute;
    top: 250px;
    right: 75px;
    transform: rotate(25deg);
    z-index: 1001;
}

/*-------------------------------------------------------------------*/
/*----------------------------@ Elemente-----------------------------*/
/*-------------------------------------------------------------------*/

@keyframes blinken {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.1
    }
    100% {
        opacity: 1
    }
}