canvas{
    margin: 50px;
    border: solid black 1px;
}

#canvascontainer{
    position: relative;
}
#spielFeld{
    background-color: #202020;
    position: absolute;
}
#pacmanFeld{
    position: absolute;

}
#geisterFeld{
    position: absolute;
}